C:\Users\aakas\OneDrive\Desktop\html&css\html practice\flex\Recording 2024-05-15 210320.mp4
C:\Users\aakas\OneDrive\Desktop\html&css\html practice\flex\Recording2024-05-15210320-ezgif.com-video-to-gif-converter (1).gif